

.square {
    float:left;
    position: relative;
    width: 18vw;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
    border-radius: 30px;
}


.content {
    position:absolute;
    height:100%; /* = 100% - 2*5% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 4%;


}


.table{

    display:table;
    width:100%;
    height:100%;

}
.table-cell{
    background:white;
    display:table-cell;
    vertical-align:middle;
    border-radius: 18px;
<<<<<<< HEAD
  transition: all 0.9s ease;
=======
  transition: all 1.8s ease;
>>>>>>> 148f2b64ee6bbeeccf9114ed512f0cc12fe2f6f5

}

.table-cell:hover{

    background: linear-gradient(45deg, white, #B6C5BE);
    display:table-cell;
    border-radius: 20px;
    vertical-align:middle;
}

/*  For list */
ul{
    text-align:center;
    margin: 0 auto;
    padding:0;
    list-style-position:inside;
}

.deckname  {
    color:#2c3e50;
    font-weight:bold;
    font-size:1vw;
    transition: all 1.8s ease;
}

.deckname:hover {
    color: #e74c3c;
    font-weight:bold;
    font-size: 1vw;
}


h3 {
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;


}

.flash2 {
  padding: 12px;
  font-family: Helvetica;
  text-align:center;
  color: transparent;
  font-size: 5.9vw;
  letter-spacing: 5px;
  border: 6px solid transparent;
  border-image: linear-gradient(45deg, #e74c3c, #1abc9c);
  border-image-slice: 7 12 14 5;
  background: linear-gradient(45deg, #e74c3c, #1abc9c);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 1.8s ease; }

#this {

}

.slider {
margin: 0 auto;
text-align: center;

}

<<<<<<< HEAD
.js-masonry {
width:90%;
margin-left:8%;

}

.table-cell ul {
  font-size: 1.5em;
}

.perc {
  color:#27ae60;
}

=======
.cardsurface {
width:90%;
margin-left:8%;

}

.table-cell ul {
  font-size: 1.5em;
}

.perc {
  color:#27ae60;
}
>>>>>>> 148f2b64ee6bbeeccf9114ed512f0cc12fe2f6f5
