
<link rel="stylesheet" href="/css/fullground.css">

<div class="intro-div">
<div class="flash-div">
<a class="flash" href="">FLASHY CARDS</a>
</div>
<div class="editor">
<h1> Create a Deck </h1>
<form action="/deck/new" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input class='button' type="Submit" value="Generate">
</form>
</div>
</div>



</div>




















