<link rel="stylesheet" href="/css/fullground.css">

<div class="intro-div">
<div class="flash-div">
<a class="flash" href="">FLASHY CARDS</a>
</div>

<h4 class="signup">Welcome! Sign up here!</h4>

<div class="log-in-div">
<div class="answer_form">
<form action='/user/new' method='POST' >
  <div>
    <input type='text'     name='name' placeholder='Your First Name' />
    <input type="password" name='password'   placeholder='password' />
  </div>
  <div>
    <input class= "button" type='submit' value='signup' />
  </div>
</form>
</div>
</div>
