<h3> Create a new card</h3>
<form action="/deck/<%=deck_id%>/card" method="POST">
  <input type="text" name="question" placeholder="question">
  <input type="text" name="answer" placeholder="answer">
  <input type="Submit" value="submit">
</form>

<p><a href="/deck_select">Deck Finished</a></p>
