
<link rel="stylesheet" href="/css/fullground.css">

<div class="intro-div">
<div class="flash-div">
<a class="flash" href="">FLASHY CARDS</a>
</div>
<div class="editor">

<h1> Create a new card</h1>
<form action="/deck/<%=deck_id%>/card" method="POST">
  <input type="text" name="question" placeholder="question">
  <input type="text" name="answer" placeholder="answer">
  <input class='button' type="Submit" value="Submit">
</form>

<p><a href="/deck_select">Deck Finished</a></p>

</div>
</div>
</div>
